#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.chat{
  width: 100%;
  /* min-height: 400px; */
  min-height: 50vh;

  height: auto;
  border: 3px solid black;
  display: flex;
}
.container-chat {
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  
}

.container-chat-personal{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}

.message-list{
  width: 100%;
  height: 90%; 
  border-bottom: 1px solid black;
  
}

.users{
  padding: 0 1rem 0 1rem;

}
.formChat{
  bottom: 2px;
 
  bottom: 2px;
}


.btn-inicio{
  background-color: black;
  
}

.btn-inicio:hover{
  background-color: white;
}

.btn-inicio a{
  font-weight: bolder;
  
}